<div class="trade-wrapper">
    <div class="trade-result-wrapper" *ngIf="tradeResult">
      <div class="trade-result" *ngIf="tradeResult?.enter_date">
        <div class="trade-result-title">Open trade date:</div>
        <div class="trade-result-value">{{tradeResult?.enter_date | date: 'MMM d, y, h:mm:ss a'}}</div>
      </div>
      <div class="trade-result" *ngIf="tradeResult?.exit_date">
        <div class="trade-result-title">Close trade date:</div>
        <div class="trade-result-value">{{tradeResult?.exit_date | date: 'MMM d, y, h:mm:ss a'}}</div>
      </div>
      <div class="trade-result" *ngIf="tradeResult?.enter_price">
        <div class="trade-result-title">Open trade price:</div>
        <div class="trade-result-value">You buy bitcoins on {{tradeResult?.enter_price}} $</div>
      </div>
      <div class="trade-result" *ngIf="tradeResult?.enter_value">
        <div class="trade-result-title">Open bitcoin value</div>
        <div class="trade-result-value">Bitcoin cost on buy time: {{tradeResult?.enter_value}}</div>
      </div>
      <div class="trade-result" *ngIf="tradeResult?.exit_price">
        <div class="trade-result-title">Close trade price:</div>
        <div class="trade-result-value">{{tradeResult?.exit_price}} $ per Bitcoin (Loss-stop)</div>
      </div>
      <div class="trade-result" *ngIf="tradeResult?.currency_amount">
        <div class="trade-result-title">Currency Amount:</div>
        <div class="trade-result-value">You buy {{tradeResult?.currency_amount}} Bitcoin</div>
      </div>
      <div class="trade-result" *ngIf="currentValue">
        <div class="trade-result-title">Current Value:</div>
        <div class="trade-result-value">{{currentValue}} Bitcoin per {{tradeResult?.enter_price}} $</div>
      </div>
      <div class="trade-result" *ngIf="currentValue && tradeResult?.currency_amount ">
        <div class="trade-result-title">Profit:</div>
        <div class="trade-result-value">{{profit}} Bitcoin</div>
      </div>
    </div>
      <form (submit)="submit()" [formGroup]="tradeValues">
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input formControlName="enter_date" matStartDate placeholder="Start date">
            <input formControlName="exit_date" matEndDate placeholder="End date">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Enter price $</mat-label>
          <input formControlName="enter_price" matInput required type="text">
          <button matSuffix mat-icon-button aria-label="Clear">
          </button>
        </mat-form-field>
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Exit price $</mat-label>
          <input formControlName="exit_price" matInput required type="text">
          <button matSuffix mat-icon-button aria-label="Clear">
          </button>
        </mat-form-field>
        <button type="submit" mat-raised-button color="accent" *ngIf="isEditable">Open Trade</button>
        <button type="button" (click)="editValue()" mat-raised-button color="accent" *ngIf="!isEditable">Edit Trade</button>
        <button type="button" (click)="closeTrade()" mat-raised-button color="accent" *ngIf="!isEditable">Close Trade</button>
      </form>
  </div>

